<o-navbar
  logoRoute="/"
  [routes]="routes"
  [searchbarItems]="searchbarItems"
></o-navbar>

<article>
  <header class="bg-light pt-3 pb-5 mb-5">
    <div class="container pt-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="https://buenosaires.gob.ar/inicio/">Buenos Aires</a>
          </li>
        </ol>
      </nav>

      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="mt-2 pt-1">
            <h1 class="mb-3">Educación</h1>
            <p class="lead">
              Nos ocupamos de crear, promover y ejecutar políticas educativas en
              sus niveles inicial, primario, secundario y superior, que
              conformen un sistema educativo innovador, único e integrado.
            </p>
          </div>
          <div class="d-block d-md-flex flex-wrap pt-3">
            <div class="dropdown mb-2 mb-md-3 mr-3">
              <button
                type="button"
                class="btn btn-dropdown btn-dropdown-border btn-dropdown-lg dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="btn-dropdown-text">Institucional</span>
                <span class="material-icons-round btn-dropdown-icon"
                  >expand_more</span
                >
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"
                  ><span class="item-text">Ministerio de Educación</span></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Subsecretaría de Carrera Docente</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Subsecretaría de Coordinación Pedagógica y Equidad
                    Educativa</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Subsecretaría de Tecnología Educativa y
                    Sustentabilidad</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Subsecretaría Agencia de aprendizaje a lo largo de la
                    vida</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Subsecretaría de Gestión Económico Financiera y
                    Administración de Recursos</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Unidad de Evaluación Integral de la Calidad y Equidad
                    Educativa</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Unidad de Coordinación del Sistema de Formación
                    Docente</span
                  ></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text">Organigrama</span></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text">Guía de funcionarios</span></a
                >
              </div>
            </div>
            <nav class="mb-2 mb-md-3 mr-3">
              <ul class="nav flex-row nav-pills">
                <li class="nav-item">
                  <a class="nav-link border-link nav-link-lg" href="#"
                    ><span>Agenda educativa 2023</span></a
                  >
                </li>
              </ul>
            </nav>
            <div class="dropdown mb-0 mb-md-3">
              <button
                type="button"
                class="btn btn-dropdown btn-dropdown-border btn-dropdown-lg dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="btn-dropdown-text">Transparencia activa</span>
                <span class="material-icons-round btn-dropdown-icon"
                  >expand_more</span
                >
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"
                  ><span class="item-text">Declaraciones juradas</span></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text">Trámites y servicios</span></a
                >
                <a class="dropdown-item" href="#"
                  ><span class="item-text"
                    >Compras y contrataciones de obra pública</span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- inicio: tarjetas / atajos -->
  <div class="container px-0">
    <div class="card-deck max-cards-4 card-column mb-5">
      <o-card
        *ngFor="let shortcut of shortcuts"
        [title]="shortcut.title"
        [description]="shortcut.description"
        route="/"
        [icon]="shortcut.icon"
      ></o-card>
    </div>
  </div>
  <!-- fin: tarjetas / atajos -->
  <!-- inicio: panel -->
  <div class="container px-0 py-5">
    <o-highlighted
      [title]="title"
      [description]="description"
      [image]="picture"
    >
      <o-button
        #child
        link="#"
        size="lg"
        text="Acceder a la plataforma"
      ></o-button>
    </o-highlighted>
  </div>
  <!-- fin: panel -->
  <!-- inicio: tarjetas / "Conocé nuestros programas" -->
  <div class="container pt-2 mb-5">
    <h2 class="my-4">Conocé nuestros programas</h2>
    <div class="card-deck max-cards-3 card-column">
      <o-card
        *ngFor="let sectionOneItem of sectionOne"
        [title]="sectionOneItem.title"
        [description]="sectionOneItem.description"
        route="/"
        [isBordered]="true"
        [image]="{
          src: sectionOneItem.image,
          alt: 'descripción de imagen'
        }"
      ></o-card>
    </div>
  </div>
  <!-- fin: tarjetas / "Conocé nuestros programas" -->
  <!-- inicio: tarjetas / "Lo más consultado" -->
  <div class="container mb-4 pb-2 pt-2">
    <h2 class="pt-4 mb-4">Lo más consultado</h2>
    <div class="card-deck max-cards-3 card-column">
      <o-card
        *ngFor="let sectionTwoItem of sectionTwo"
        [title]="sectionTwoItem.title"
        [description]="sectionTwoItem.description"
        route="/"
        [image]="{
          src: sectionTwoItem.image,
          alt: 'descripción de imagen'
        }"
        [isHorizontal]="true"
        [isBordered]="true"
      ></o-card>
    </div>
  </div>
  <!-- fin: tarjetas / "Lo más consultado" -->
  <!-- inicio: tarjetas / "Destacadas" -->
  <div class="container mb-4 pb-2 pt-2">
    <h2 class="pt-4 mb-4">Destacadas</h2>
    <div class="card-deck max-cards-3 card-column">
      <o-card
        *ngFor="let sectionThreeItem of sectionThree"
        [title]="sectionThreeItem.title"
        [description]="sectionThreeItem.description"
        route="/"
        [image]="{
          src: sectionThreeItem.image,
          alt: 'descripción de imagen'
        }"
        [isHorizontal]="true"
        [isBordered]="true"
      ></o-card>
    </div>
  </div>
  <!-- fin: tarjetas / "Destacadas" -->
  <!-- inicio: tarjetas / "Conocé más" -->
  <div class="container mb-4 pb-2 pt-2">
    <h2 class="pt-4 mb-4">Conocé más</h2>
    <div class="card-deck max-cards-3 card-column">
      <o-card
        *ngFor="let sectionFourItem of sectionFour"
        [title]="sectionFourItem.title"
        [description]="sectionFourItem.description"
        route="/"
        [image]="{
          src: sectionFourItem.image,
          alt: 'descripción de imagen'
        }"
        [isHorizontal]="true"
        [isBordered]="true"
      ></o-card>
    </div>
  </div>
  <!-- fin: tarjetas / "Conocé más" -->
  <!-- inicio: noticias -->
  <div class="container pt-4 mt-2">
    <h2 class="mb-4">Noticias</h2>
    <div class="card-deck max-cards-3 card-column">
      <o-card
        *ngFor="let sectionFiveItem of sectionFive"
        [title]="sectionFiveItem.title"
        [description]="sectionFiveItem.description"
        route="/"
        [image]="{
          src: sectionFiveItem.image,
          alt: 'descripción de imagen'
        }"
        [tags]="[{ name: sectionFiveItem.badge }]"
        [isBordered]="true"
      >
        <small #info>Fecha de publicación: {{ sectionFiveItem.date }}</small>
      </o-card>
    </div>
    <div class="mt-4 pt-2 mb-5">
      <a class="access" href="#" target="_blank" rel="noreferrer">
        Ver todas las noticias
      </a>
    </div>
  </div>
  <!-- fin: noticias -->
  <!-- inicio: "Mapa de acceso al Ministerio de Educación" -->
  <div class="container mb-5 pt-2">
    <h2 class="pt-4 mb-2">Mapa de acceso al Ministerio de Educación</h2>
    <div class="col-8 p-0">
      <p>
        Conocé todos los medios de transporte que te llevan al edificio del
        Ministerio ubicado en Carlos H. Perette 750 en el barrio de Retiro.
      </p>
    </div>
    <div class="gallery-grid gallery-max-1 mt-4 pt-2">
      <div class="gallery-grid-item">
        <img
          src="https://gcba.github.io/obelisco-demo/assets/galeria/mapa-educacion.png"
          alt="Texto alternativo de la imagen"
        />
      </div>
    </div>
  </div>
  <!-- fin: "Mapa de acceso al Ministerio de Educación" -->
</article>

<!-- inicio institucional -->
<section class="bg-light py-5">
  <div class="container mb-3">
    <h2 class="mb-4">Información institucional</h2>
    <div class="card-deck max-cards-2 mb-3 pb-3 card-column">
      <div class="card card-simple panel-sm-horizontal">
        <img
          src="https://gcba.github.io/obelisco-demo/assets/panel/soledadAcuna.png"
          class="rounded-lg"
          width="104"
          height="104"
          alt="Soledad Acuña"
        />
        <div class="card-body">
          <h4 class="card-title">Soledad Acuña</h4>
          <p class="card-text">Ministro de Educación</p>
        </div>
      </div>
      <div class="card card-simple panel-sm-horizontal">
        <div class="card-body">
          <h4 class="card-title">Contacto</h4>
          <p class="card-text">
            Teléfono: 6076-6000 <br />
            Email:
            <a href="mailto:soledad@bue.edu.ar" target="_blank" rel="noreferrer"
              >soledad@bue.edu.ar</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="mb-4">Seguinos en</h2>
        <div class="list-group mb-4 mb-md-0">
          <o-access
            *ngFor="let networksItem of networks"
            [icon]="networksItem.icon"
            [title]="networksItem.title"
            route="/"
          ></o-access>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <o-map
          [title]="'Ubicación'"
          [description]="'Uspallata 3160'"
          [iframe]="iframe"
        >
          <o-button
            text="Cómo llego"
            [isExpandable]="true"
            link="https://mapa.buenosaires.gob.ar/comollego/?lat=-34.640340&lng=-58.407032&zl=15&modo=transporte&dir=Uspallata+3160"
            target="_blank"
            rel="noreferrer"
          ></o-button>
        </o-map>
      </div>
    </div>
  </div>
</section>

<o-footer></o-footer>
