<article>
  <page-header
    [title]="'Educación'"
    [description]="
      'Nos ocupamos de crear, promover y ejecutar políticas educativas en sus niveles inicial, primario, secundario y superior, que conformen un sistema educativo innovador, único e integrado.'
    "
  >
    <div class="mb-2 mb-md-3 mr-3">
      <o-dropdown-navigation
        dataTarget="education-institutional-dropdown"
        [dropNavItems]="institutionalDropdownItems"
        iconRight="expand_more"
        title="Institucional"
        [isAnimatedIconRight]="true"
      ></o-dropdown-navigation>
    </div>
    <div class="mb-2 mb-md-3 mr-3">
      <o-nav-horizontal
        [navHorItems]="navJournal"
        size="lg"
        [isBordered]="true"
      ></o-nav-horizontal>
    </div>
    <div class="mb-0 mb-md-3">
      <o-dropdown-navigation
        dataTarget="education-transparency-dropdown"
        [dropNavItems]="transparencyDropdownItems"
        iconRight="expand_more"
        title="Transparencia activa"
        [isAnimatedIconRight]="true"
      ></o-dropdown-navigation>
    </div>
  </page-header>

  <!-- inicio: tarjetas / atajos -->
  <div class="container px-0">
    <div class="card-deck max-cards-4 card-column mb-5">
      <o-card
        *ngFor="let shortcut of shortcuts"
        [title]="shortcut.title"
        [description]="shortcut.description"
        route="/"
        [icon]="shortcut.icon"
      ></o-card>
    </div>
  </div>
  <!-- fin: tarjetas / atajos -->

  <!-- inicio: panel -->
  <div class="container px-0 py-5">
    <o-highlighted
      [title]="title"
      [description]="description"
      [image]="picture"
    >
      <o-button
        #child
        link="#"
        size="lg"
        text="Acceder a la plataforma"
      ></o-button>
    </o-highlighted>
  </div>
  <!-- fin: panel -->

  <!-- inicio: secciones repetitivas -->
  <ng-container *ngFor="let section of sections">
    <div class="container pt-2 mb-5">
      <h2 class="my-4">{{ section.title }}</h2>
      <div class="card-deck max-cards-3 card-column">
        <o-card
          *ngFor="let item of section.items"
          [title]="item.title"
          [description]="item.description"
          route="/"
          [image]="{
            src: item.image,
            alt: 'descripción de imagen'
          }"
          [isHorizontal]="section.isHorizontal"
          [isBordered]="true"
        >
          <small #info *ngIf="item.date"
            >Fecha de publicación: {{ item.date }}</small
          >
        </o-card>
      </div>
      <div *ngIf="section.link" class="mt-4 pt-2 mb-5">
        <a
          class="access"
          href="{{ section.link }}"
          target="_blank"
          rel="noreferrer"
        >
          Ver todas las noticias
        </a>
      </div>
    </div>
  </ng-container>
  <!-- fin: secciones repetitivas -->

  <!-- inicio: "Mapa de acceso al Ministerio de Educación" -->
  <div class="container mb-5 pt-2">
    <h2 class="pt-4 mb-2">Mapa de acceso al Ministerio de Educación</h2>
    <div class="col-8 p-0">
      <p>
        Conocé todos los medios de transporte que te llevan al edificio del
        Ministerio ubicado en Carlos H. Perette 750 en el barrio de Retiro.
      </p>
    </div>
    <div class="gallery-grid gallery-max-1 mt-4 pt-2">
      <div class="gallery-grid-item">
        <img
          src="https://gcba.github.io/obelisco-demo/assets/galeria/mapa-educacion.png"
          alt="Texto alternativo de la imagen"
        />
      </div>
    </div>
  </div>
  <!-- fin: "Mapa de acceso al Ministerio de Educación" -->
</article>

<!-- inicio institucional -->
<institutional-block
  [ceo]="{
    title: 'Soledad Acuña',
    description: 'Ministro de Educación',
    image: {
      src: 'https://gcba.github.io/obelisco-demo/assets/panel/soledadAcuna.png'
    }
  }"
  [contact]="{
    phone: '6076-6000',
    email: 'soledad@bue.edu.ar'
  }"
  [socialMedia]="[
    { title: 'Facebook', src: '#' },
    { title: 'Instagram', src: '#' },
    { title: 'Youtube', src: '#' },
    { title: 'Twitter', src: '#' }
  ]"
  [map]="educationMap"
>
</institutional-block>

<o-footer></o-footer>
