<main>
  <!-- Encabezado de pagina - Inicio -->
  <page-header
    [title]="'Sumate al programa Embajadores Verdes y promové el reciclado'"
    [description]="
      'El Ministerio de Espacio Público e Higiene Urbana desarrolló el programa de Embajadores Ciudad Verde. Se trata de una propuesta vinculada con el Plan de Reciclaje de la Ciudad, BA Recicla. Si querés promover el reciclado ¡Sumate!'
    "
    [badges]="[{ text: 'Espacio público' }]"
    [headline]="'Jueves 17 de junio de 2022'"
    [socialMedia]="[
      { title: 'facebook', src: '#' },
      { title: 'instagram', src: '#', icon: 'bx bxl-instagram' },
      { title: 'twitter', src: '#' },
      { title: 'linkedin', src: '#' }
    ]"
  >
  </page-header>
  <!-- Encabezado de pagina - Fin -->

  <article class="container pb-5 mb-4">
    <div class="row">
      <div class="col-12 col-lg-8">
        <p class="mb-4">
          <strong
            >Contribuyendo a alcanzar el objetivo de que el 80% de los vecinos y
            las vecinas de la Ciudad separen sus residuos, el
          </strong>
          <a href="#" target="_blank" rel="noreferrer">
            Ministerio de Espacio Público e Higiene Urbana</a
          >
          <strong> desarrolló el programa de Embajadores Ciudad Verde. </strong>
          Este programa brinda a la ciudadanía un espacio para encontrarse y
          construir una visión compartida del esfuerzo que debe realizarse en
          conjunto para avanzar hacia una ciudad más sustentable.
          <strong> Si querés promover el reciclado. </strong>
          <a href="#" target="_blank" rel="noreferrer"> ¡Sumate!</a>
        </p>

        <section class="embed-responsive embed-responsive-16by9 my-5">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/bPiMIeLG2CE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </section>

        <blockquote>
          <p>
            Forma parte del programa que nos invita a co-construir una Ciudad
            cada vez más verde, promoviendo la participación ciudadana y
            fortaleciendo el compromiso de todos los vecinos y vecinas.
          </p>
          <small>Autor (no obligatorio)</small>
        </blockquote>

        <h2 class="mb-4 mt-5">¿Quiénes pueden sumarse a la red?</h2>

        <p class="mb-4">
          Todas aquellas personas interesadas en temáticas relacionadas a
          reciclado y economía circular. Si te entusiasma:
          <a href="#" target="_blank" rel="noreferrer">¡Sumate!</a>
        </p>

        <h3>¿Cuáles son los pasos a seguir para ser parte de la red?</h3>
        <ol>
          <li>
            Completar el
            <a href="#" target="_blank" rel="noreferrer"
              >formulario de inscripción.</a
            >
          </li>
          <li>Recibir el email de bienvenida y agendar tu inducción.</li>
          <li>
            Asistir a la charla introductoria donde te contaremos en detalle qué
            podrás encontrar en la red. La charla es abierta a la comunidad y
            está dirigida a todas las personas interesadas en ser embajadoras.
            Este es el primer requisito para comenzar a ser parte de la red.
          </li>
        </ol>

        <blockquote class="my-5">
          <p>
            Nadie es demasiado pequeño para tener un impacto y cambiar el mundo,
            así que haz todo lo que puedas.
          </p>
        </blockquote>

        <section class="embed-responsive embed-responsive-16by9 my-4">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/bPiMIeLG2CE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </section>

        <section class="embed-responsive embed-responsive-16by9 my-4">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/bPiMIeLG2CE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </section>

        <p class="mb-4">
          <strong
            >Cabe señalar que el programa Embajadores Verdes es una iniciativa
            vinculada con el Plan de Reciclaje de la Ciudad</strong
          >, BA Recicla, presentado recientemente. Dicho plan es el punto de
          partida hacia la circularidad ya que contempla dentro de sus objetivos
          duplicar la cantidad de residuos reciclables que se recolectan en la
          Ciudad y lograr que para el 2023 el 80% de los vecinos y vecinas
          separen la basura en sus casas. Para eso, se prevé optimizar el
          ordenamiento de la infraestructura de captación colocando un
          contenedor verde o campana a 150 metros de cada hogar y con el trabajo
          de los recuperadores urbanos en las zonas de mayor generación de
          reciclables. Además, el plan incluye nuevos programas y acciones para
          la promoción de la separación de residuos domiciliarios.
        </p>

        <section class="embed-responsive embed-responsive-16by9 my-4">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/bPiMIeLG2CE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </section>

        <p class="mb-4">
          Por otro lado, la Ciudad cuenta con un Centro de Reciclaje que procesa
          un altísimo porcentaje de los residuos generados en la ciudad, entre
          áridos (escombros); plásticos PET, restos de poda, y residuos
          orgánicos. También cuenta con 16 Centros Verdes a donde llegan los
          materiales que juntan cada día los recuperadores urbanos y tres
          centros de compostaje de restos. Enterate de cómo hacemos una Ciudad
          más Verde en:
          <a href="#" target="_blank" rel="noreferrer"
            >www.ciudadverde.gob.ar</a
          >
        </p>

        <!-- Galeria Inicio -->
        <h2 class="mb-4 mt-5">Fotogalería</h2>
        <div class="mt-4 mb-2 pb-1">
          <o-gallery
            [galleryItems]="galleryItems"
            [isInteractive]="true"
            dataTarget="modalGallery"
          ></o-gallery>
        </div>
        <!-- Galeria Fin -->
      </div>

      <!-- Lateral Inicio-->
      <div class="col-12 col-lg-4 mx-auto mb-4 mb-lg-0 pb-2 pb-lg-0">
        <h2 class="mb-4">Noticias relacionadas</h2>
        <div class="card-deck max-cards-1">
          <o-card
            [title]="'La Ciudad iluminará monumentos durante el verano'"
            [description]="
              'Serán los primeros de una serie de iluminaciones que se realizarán durante el año.'
            "
            [image]="{
              src: '../../../../assets/templates/news-gallery/galeria-4.png',
              alt: 'Noticia'
            }"
            [isHorizontal]="true"
            [isBordered]="true"
          ></o-card>
          <o-card
            [title]="'Más de 32.500 estudiantes asisten a la Escuela de Verano'"
            [description]="
              'Con un récord de inscriptos, alumnos de todos los niveles participan de una propuesta.'
            "
            [image]="{
              src: '../../../../assets/templates/news-gallery/galeria-4.png',
              alt: 'Noticia'
            }"
            [isHorizontal]="true"
            [isBordered]="true"
          ></o-card>
        </div>
      </div>
      <!-- Lateral Fin-->
    </div>

    <hr class="mt-5" />

    <!--Noticias Inicio-->
    <section class="container">
      <h2 class="mt-5 mb-4">Noticias</h2>
      <div class="card-deck card-column max-cards-3">
        <o-card
          [title]="
            'Nuevo patio de juegos, cancha y espacios de encuentro en Plaza Padre Rodolfo Ricciardelli'
          "
          [description]="
            'Está ubicada en Avenida Perito Moreno y Erezcano, Flores.'
          "
          [image]="{
            src: '../../../../assets/templates/news-gallery/galeria-1.png',
            alt: 'Noticia'
          }"
          [isBordered]="true"
          [tags]="[
            { name: 'Comuna 7', type: 'info' },
            { name: 'Gestión Comunal', type: 'info' }
          ]"
        >
          <small #info>Fecha de publicación: 14/01/2024</small></o-card
        >
        <o-card
          [title]="
            'Cuatro shows infantiles en vivo para disfrutar el fin de semana en la Usina'
          "
          [description]="
            'Las mejores propuestas para que el verano de las infancias sea el más entretenido.'
          "
          [image]="{
            src: '../../../../assets/templates/news-gallery/galeria-1.png',
            alt: 'Noticia'
          }"
          [isBordered]="true"
          [tags]="[{ name: 'Usina del Arte', type: 'info' }]"
        >
          <small #info>Fecha de publicación: 13/01/2023</small></o-card
        >
        <o-card
          [title]="
            'Verano en el Museo Sívori, con propuestas para todas las edades'
          "
          [description]="
            'Hasta el 19 de febrero te invitamos a disfrutar de una programación imperdible.'
          "
          [image]="{
            src: '../../../../assets/templates/news-gallery/galeria-1.png',
            alt: 'Noticia'
          }"
          [isBordered]="true"
          [tags]="[
            { name: 'Museos', type: 'info' },
            { name: 'Museo Sívori', type: 'info' }
          ]"
        >
          <small #info>Fecha de publicación: 10/01/2024</small></o-card
        >
      </div>
    </section>
    <!--Noticias Fin-->
  </article>
</main>
<o-footer></o-footer>
