<section class="section-components">
  <div class="component-description-content">
    <div class="container mt-5">
      <h2 class="pb-3">Plantillas</h2>
      <div class="card-deck max-cards-3 card-column">
        <o-card
          title="Pagina de Area"
          description="Educacion"
          route="/templates/education"
          [image]="{
            src: 'https://prototyprio.gumlet.io/strapi/779a286a96117152e74eb516a9c2fb9e.webp?format=webp&w=376&dpr=2.6',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Cultura"
          description="Página de Area"
          route="/templates/culture"
          [image]="{
            src: 'https://prototyprio.gumlet.io/strapi/779a286a96117152e74eb516a9c2fb9e.webp?format=webp&w=376&dpr=2.6',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Trámites"
          description="Trámites"
          route="/templates/procedure"
          [image]="{
            src: 'https://prototyprio.gumlet.io/strapi/779a286a96117152e74eb516a9c2fb9e.webp?format=webp&w=376&dpr=2.6',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Galería"
          description="Noticias"
          route="/templates/news-gallery"
          [image]="{
            src: 'https://prototyprio.gumlet.io/strapi/779a286a96117152e74eb516a9c2fb9e.webp?format=webp&w=376&dpr=2.6',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Título de la tarjeta"
          description="Descripción de la tarjeta"
          route="/components"
          [image]="{
            src: 'https://prototyprio.gumlet.io/strapi/779a286a96117152e74eb516a9c2fb9e.webp?format=webp&w=376&dpr=2.6',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>
      </div>
    </div>
  </div>
</section>
