<o-navbar
  logoRoute="/"
  [routes]="routes"
  [searchbarItems]="searchbarItems"
></o-navbar>

<section class="section-components">
  <div class="component-description-content">
    <div class="container mt-5">
      <h2 class="pb-3">Plantillas</h2>
      <div class="card-deck max-cards-3 card-column">
        <o-card
          title="Pagina de Area"
          description="Educacion"
          route="/templates/education"
          [image]="{
            src: 'https://gcba.github.io/Obelisco/cards/img-top.jpg',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Título de la tarjeta"
          description="Descripción de la tarjeta"
          route="/components"
          [image]="{
            src: 'https://gcba.github.io/Obelisco/cards/img-top.jpg',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Título de la tarjeta"
          description="Descripción de la tarjeta"
          route="/components"
          [image]="{
            src: 'https://gcba.github.io/Obelisco/cards/img-top.jpg',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>

        <o-card
          title="Título de la tarjeta"
          description="Descripción de la tarjeta"
          route="/components"
          [image]="{
            src: 'https://gcba.github.io/Obelisco/cards/img-top.jpg',
            alt: 'descripción de imagen'
          }"
          [isBordered]="true"
        ></o-card>
      </div>
    </div>
  </div>
</section>
